@import "../../../styles/abstracts/variables";

.sidebar {
  width: 200px;
  height: fit-content;
  position: sticky;
  right: 0;
  top: 10px;

  .dropdownTitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;

    .dropdownTitle{
      font-size: 1.1rem;
      font-weight: 500;
      color: $primary-font-color;
    }

    .dropdownIcon {
      width: "13px";
      height: "13px";
      transition: all 150ms ease;
    }
  }

  .dropdownContent {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    .menuLink {
      display: block;
      text-align: left;
      margin-top: 6px;
      padding: 10px;
      color: $primary-font-color;

      &:hover {
        background-color: #e9e9e9;
      }
    }
  }

  .content6 {
    width: 100%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $breakpoint-md) {
  .sidebar {
    width: 100%;
    position: static;
  }
}
