@import "./variables";

%custom-scroll-bar {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: #bebebe #fff;
  resize: none;

  &::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
    background-color: red;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #d7d4d6;
  }
}

%main-container {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0 20px;
}

@each $size in $breakpoints {
  @media (min-width: $size) {
    %main-container {
      max-width: $size;
    }
  }
}
