$primary-bg: #393c49;
$primary-color: #1497eb;
$primary-font-color: #2c2c2c;


$point-gradient: linear-gradient(
  to right,
  #0d5acd,
  #006ad6,
  #0079df,
  #0088e5,
  #1497eb
);

$btn-gradient: linear-gradient(
  to right,
  #da5d0d,
  #de5f0d,
  #e3610d,
  #e7620c,
  #ec640c
);

$breakpoint-sm: 640px;
$breakpoint-md: 840px;
$breakpoints: (
  640px,
  1024px,
  1280px,
  1536px
);
