.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1f1f1;
  position: relative;
  padding-right: 24px;

  .searchbarInput {
    border: none;
    outline: none;
    height: 100%;
    padding: 0 1em;
  }

  .searchIcon{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
