.main {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1em;
  transition: all 0.3s ease;
  background-color: #fff;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .title {
    font-size: 1rem;
    height: 120px;
    display: flex;
    align-items: center;
  }

  .pricesWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .quantityWrapper {
      border: 2px solid #f1f1f1;
      padding: 2px 6px;
      display: flex;
      align-items: center;
      width: 80px;
      justify-content: space-between;

      .quantityHandleBtn {
        cursor: pointer;
        width: 10px;
        height: 10px;
        background-color: #f1f1f1;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
      }
    }
  }
}
