.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #e5e5e5;

  .filterWrapper {
    display: flex;
    gap: 20px;

    .returnBtn {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      padding: 8px 20px;
      border-radius: 6px;
      background-color: #fff;
    }
  }
}
