@import "../../styles/abstracts/index";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #e5e5e5;

  .filterWrapper {
    display: flex;
    gap: 20px;

    .returnBtn {
      @extend %return-button;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    flex-direction: column;
    gap: 20px;

    .filterWrapper {
      flex-direction: column;
      gap: 10px;
      width: 100%;

       .returnBtn{
        width: 100%;
       }
    }
  }
}
